* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  max-width: 650px;
  margin: auto;
}

img {
  width: 500px;
  height: 500px;
}

body, header, section, figure, footer, div, ul, li, h1, h2, h3, h4, a, p {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  font-weight: unset;
}

h1, h2 {
  font-size: 26px;
  font-family: 'Roboto', sans-serif;
}

h3, h4, h5, h6 {
  font-family: "Shrikhand","sans-serif";
  font-size: 18px;
}

p, strong, span, i {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

.bold {
  font-weight: bold;
}

.marg_b_20 {
  margin-bottom: 20px;
}

.marg_t_20 {
  margin-top: 20px;
}

/*bouton-fonction*/
.btn_lien_fonc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  width: 100%;
  border-radius: 30px;
  -webkit-box-shadow: 0px 10px 10px #d9d9d9;
          box-shadow: 0px 10px 10px #d9d9d9;
  background: #f2f2f2;
}

.btn_lien_fonc:hover {
  background: #e4d5f6;
}

.btn_lien_fonc:hover:hover .btn-fonction__icone {
  color: #9356DC;
}

.btn_lien_fonc .cercle-proj {
  position: relative;
  right: 15px;
  border-radius: 50%;
  background-color: #9356DC;
  height: 30px;
  width: 30px;
  min-width: 30px;
}

.btn_lien_fonc .cercle-proj__pos {
  position: relative;
  left: 9px;
  top: 4px;
  color: white;
}

.btn_lien_fonc .btn-fonction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: unset;
  width: 100%;
}

.btn_lien_fonc .btn-fonction__icone {
  color: #a6a6a6;
}

.btn_lien_fonc .btn-fonction__texte {
  padding-left: 10px;
}

/*bouton-degrade*/
.bouton {
  border-radius: 30px;
  font-weight: bold;
  height: 50px;
  width: 280px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border: unset;
}

.bouton:active {
  -webkit-box-shadow: 0px 10px 10px #d9d9d9;
          box-shadow: 0px 10px 10px #d9d9d9;
}

.btn-plat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 80px;
  width: 100%;
  border-radius: 20px;
  background: white;
}

.btn-plat__ref {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80px;
  width: 70%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-left: 10px;
}

.btn-plat__ref .nom {
  display: block;
  margin-bottom: 5px;
}

.btn-plat__ref .info {
  display: block;
}

.btn-plat__prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80px;
  width: 15%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-plat__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80px;
  width: 15%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #99E2D0;
  border-radius: 0 20px 20px 0;
}

.btn-plat__check .cercle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: white;
}

.btn-plat__check .cercle .fa-check {
  font-size: 15px;
  position: relative;
  bottom: 1px;
  left: 2px;
  color: #99E2D0;
}

/*coeur*/
.bloc_coeur input[type="checkbox"] {
  display: none;
  background: none;
  border: none;
}

.bloc_coeur input[type=checkbox] + label .fas {
  font-weight: unset;
  color: rgba(0, 0, 0, 0.431);
}

.bloc_coeur input[type=checkbox]:checked + label .fas {
  font-weight: 900;
  color: #9356DC;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bloc_coeur .coeur {
  font-size: 40px;
  cursor: pointer;
  position: absolute;
  right: 50px;
}

.bloc_coeur .coeur:hover {
  color: #9356DC;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*new*/
.propri_new {
  position: relative;
  bottom: 233px;
  height: 30px;
  width: 100%;
}

.propri_new .new {
  position: absolute;
  right: 27px;
  padding: 10px 20px;
  color: #278870;
  background: #99E2D0;
  font-weight: bold;
  border-radius: 5%;
}

/*resto*/
.resto-proj {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 350px;
  width: 100%;
  margin: 10px 0px;
  border-radius: 30px;
}

.resto-proj__card-ima {
  overflow: hidden;
  border-radius: 30px 30px 0 0;
  height: 250px;
  width: 100%;
}

.resto-proj__card-ima .wi_he_co {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.resto-proj__card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100px;
  width: 100%;
  -webkit-box-shadow: 0 3px 3px 3px #f2f2f2;
          box-shadow: 0 3px 3px 3px #f2f2f2;
  border-radius: 0 0 30px 30px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 0 0 20px;
  background-color: white;
}

/*footer*/
.foot_proj {
  height: 220px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  background-color: rgba(37, 30, 30, 0.909);
}

.foot_proj .bloc_foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 20px;
  height: 150px;
  width: 100%;
}

.foot_proj .bloc_foot h4 {
  font-size: 20px;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.849);
}

.foot_proj .bloc_foot .nav_foot {
  height: 130px;
  width: 100%;
}

.foot_proj .bloc_foot .nav_foot .ul_foot_bloc {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.foot_proj .bloc_foot .nav_foot .ul_foot_bloc .li_foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.foot_proj .bloc_foot .nav_foot .ul_foot_bloc .li_foot .lien_foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: rgba(255, 255, 255, 0.849);
}

.foot_proj .bloc_foot .nav_foot .ul_foot_bloc .li_foot .lien_foot .espace {
  width: 30px;
}

.foot_proj .bloc_foot .nav_foot .ul_foot_bloc .li_foot .lien_foot p {
  color: rgba(255, 255, 255, 0.849);
}

/*header*/
.header-proj {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 80px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-proj__dim {
  height: 60%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/*-photo resto-*/
.wrapper {
  height: 1979px;
}

.photo_resto {
  overflow: hidden;
  height: 300px;
  width: 100%;
}

.photo_resto .wi_he_co {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu_position {
  position: relative;
  bottom: 72px;
}

.menu_position .section_menu {
  height: 1430px;
  width: 100%;
  background: #f2f2f2;
  border-radius: 60px 60px 0px 0px;
  padding: 0px 15px;
}

.menu_position .section_menu .menu_titre {
  font-family: "Shrikhand";
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.menu_position .section_menu .menu-proj__coeur {
  position: relative;
  bottom: 75px;
  left: 20px;
  height: unset;
  width: 100%;
  text-align: center;
  background: none;
  border: none;
  padding: unset;
  /*components/coeur*/
}

.menu_position .section_menu .bloc_arti {
  height: 1150px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_position .section_menu .bloc_arti .arti_menu {
  height: 360px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.menu_position .section_menu .bloc_arti .arti_menu .plat_titre {
  height: 28px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}

.menu_position .section_menu .bloc_arti .arti_menu .bordure_titre {
  display: block;
  border-top: 3px solid #99E2D0;
  width: 45px;
}

.menu_position .section_menu .bloc_arti .arti_menu .bloc_menu {
  height: 320px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_position .section_menu .bloc_bouton_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 130px;
  width: 100%;
  /*components/bouton-degrade*/
}

/*localiser*/
.conten_local {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 100%;
  background: #d9d9d9;
  -webkit-box-shadow: 0px -6px 9px -2px #bfbfbf;
          box-shadow: 0px -6px 9px -2px #bfbfbf;
}

.conten_local .bar-loc__map {
  margin-left: 20px;
}

.conten_local .bar-loc__input {
  border: unset;
  background: #d9d9d9;
  margin-left: 20px;
}

/*-Trouvez un restaurant-*/
.section_trouv {
  height: 300px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 30px 0px;
  background: #f2f2f2;
  /*components/bouton-degrade*/
}

.section_trouv .trouv_titre {
  height: 70px;
  width: 320px;
  font-size: 30px;
  text-align: center;
}

.section_trouv .trouv_text {
  height: 50px;
  width: 320px;
  color: white;
  text-align: center;
}

/*-section fonctionnement-*/
.section_fonc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 400px;
  width: 100%;
  margin: 20px 0;
}

.section_fonc .marg_l_20 {
  margin-left: 20px;
}

.section_fonc .bloc_btn {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 368px;
  width: 100%;
  padding: 0px 20px 0px 30px;
  /*components/bouton-fonction*/
}

/*-section resto-*/
.section_resto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 1650px;
  width: 100%;
  padding: 20px 0;
  background-color: #f2f2f2;
}

.section_resto .marg_l_20 {
  margin-left: 20px;
}

.section_resto .bloc_resto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  padding: 0px 20px;
  /*components/resto*/
  /*components/new*/
}

.section_resto .bloc_resto .resto-proj__coeur {
  position: relative;
  bottom: 75px;
  height: 40px;
  width: 100%;
  text-align: center;
  background: none;
  border: none;
  padding: unset;
  /*components/coeur*/
}

/*-photo resto-*/
.wrapper {
  height: 1979px;
}

.photo_resto {
  overflow: hidden;
  height: 300px;
  width: 100%;
}

.photo_resto .wi_he_co {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu_position {
  position: relative;
  bottom: 72px;
}

.menu_position .section_menu {
  height: 1430px;
  width: 100%;
  background: #f2f2f2;
  border-radius: 60px 60px 0px 0px;
  padding: 0px 15px;
}

.menu_position .section_menu .menu_titre {
  font-family: "Shrikhand";
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.menu_position .section_menu .menu-proj__coeur {
  position: relative;
  bottom: 75px;
  left: 20px;
  height: unset;
  width: 100%;
  text-align: center;
  background: none;
  border: none;
  padding: unset;
  /*components/coeur*/
}

.menu_position .section_menu .bloc_arti {
  height: 1150px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_position .section_menu .bloc_arti .arti_menu {
  height: 360px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.menu_position .section_menu .bloc_arti .arti_menu .plat_titre {
  height: 28px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}

.menu_position .section_menu .bloc_arti .arti_menu .bordure_titre {
  display: block;
  border-top: 3px solid #99E2D0;
  width: 45px;
}

.menu_position .section_menu .bloc_arti .arti_menu .bloc_menu {
  height: 320px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_position .section_menu .bloc_bouton_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 130px;
  width: 100%;
  /*components/bouton-degrade*/
}
/*# sourceMappingURL=main.css.map */