/*header*/
.header-proj{
    @include dim(80px);
    &__dim{
        @include flex;
        @include dim(80px);
        @include flex-layout;
        .contenant{
            @include dim(45%);
            object-fit: contain;
        }
    }
    .conten-loader{
        position: relative;
        display: block;
        @include dim(100px,100px)
    }
    .btn_retour{
        position: relative;
        @include dim(30px);
        bottom: 56px;
        .btn_retour_lien{
            display: block;
            position: absolute;
            left: 15px;
            .fa-arrow-left{
                font-size: 30px;     
            }
        }
    }
}