@import'../utils/mixins';
@import'../utils/variables';

/*bouton fonctionnement*/ 
.btn_lien_fonc{
    @include flex;
    @include flex-layout ($justify:start); 
    @include dim ($height:80px, $width:85%);
    @include apparence;
    .cercle-proj{ 
        position: relative;
        right: 15px;          
        border-radius: 50%;
        background-color: $color-primary; 
        @include dim ($height:30px, $width:30px);
        &__pos{
        position: relative;
        left: 9px;
        top: 4px;
        }
    }
    .btn-fonction{
        @include flex;
        @include flex-layout ($justify:unset); 
        width: 90%;
        &__icone{
            @include flex;
            @include flex-layout ($justify:unset); 
            @include dim ($height:30px, $width:30px);   
            margin-left: 20px;
        }
        &__texte{
            margin-left: 20px;
        }
    }
}

