@import "../utils/mixins";
@import "../utils/variables";

/*-btn-plat-*/
.btn-plat {
    @include flex;
    @include dim(80px);
    border-radius: 20px;
    background: $color-contrast;
    margin: 10px 0 10px 0;
    &__ref {
        @include flex(column);
        @include dim(80px, 70%);
        @include flex-layout(center, start);
        padding-left: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        // flex: 5;
        .nom {
            display: block;
            margin-bottom: 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .info {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    &__prix {
        @include flex(column);
        @include dim(80px, 30%);
        @include flex-layout;
    }
    &__check {
        @include flex(column);
        // @include dim(80px,15%);
        @include dim(80px, 0%);
        @include flex-layout;
        opacity: 0;
        transition: opacity 500ms;
        transform: scale(0);
        transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
        background: $color-tertiary;
        border-radius: 0 20px 20px 0;
        .cercle {
            @include dim(20px, 20px);
            border-radius: 50%;
            background: $color-contrast;
            .fa-check {
                font-size: 15px;
                position: relative;
                bottom: 1px;
                left: 2px;
                color: $color-tertiary;
                transform: rotate(-360deg);
                transition: transform 750ms ease-in-out;
            }
        }
    }
    &:hover {
        // & .btn-plat__ref {
        //     transform: scaleY(1);
        //     transition-duration: 750ms;
        //     animation: low-ref 750ms linear;
        //     min-width: 50%;
        //     width: 60%;
        // }
        & .btn-plat__prix {
            // transition: transform 3s;
            transform: scaleY(1);
            // transform-origin: right;
            transition-duration: 750ms;
            animation: low-titre 750ms linear;
            width: 20%;
            // transition-delay: -750ms;
            // transition-property: width;
            // transition-duration: 2s;
            // transform-origin: right;
            // transform: scaleY(1);

            // transform: scale(10%);
            // transform-origin: left;
            // animation: grow-check 3s linear ;
        }
        & .btn-plat__check {
            opacity: 1;
            transform: scale(1);
            transform-origin: right;
            transition-duration: 750ms;
            // transition-delay: 1s;
            width: 20%;
            animation: grow-check 750ms linear;
        }
        & .fa-check {
            transform: rotate(0deg);
        }
    }
}

@keyframes grow-check {
    from {
        width: 0%;
    }
    to {
        width: 20%;
    }
}

@keyframes low-titre {
    from {
        width: 30%;
    }
    to {
        width: 20%;
    }
}
@keyframes low-ref {
    from {
        width: 70%;
    }
    to {
        width: 60%;
    }
}
// 0% {
//     width: 0;
// }
// 50% {
//     width: 10%;
// }
// 100% {
//     width: 20%;
// }
