@import'../utils/mixins';
@import'../utils/variables';

/*bouton-trouver*/
.bouton{
    border-radius: 30px;
    font-weight: bold; 
    @include dim($height:50px, $width:280px);
    align-items: center; 
    background: $color-button-mix;
    color: white;
    border: unset;
    &:active{
        box-shadow: 0px 10px 10px darken($color-back, 10%);
    }    
}
