@import "../utils/mixins";
@import "../utils/variables";

/*coeur*/
.btn-coeur {
    cursor: pointer;
    &:hover{
        & .coeur-plein {
            opacity: 1;
            transform: scale(1);
        }
        & .coeur-vide {
            opacity: 1;
            background: -webkit-linear-gradient($color-primary, $color-secondary);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    @include desktop-only{
        &:active {
            filter: brightness(1.1);
        }
    }
    .coeur-vide {
        position: absolute;
        top: 0;
        left: 0;
        color: rgba(32, 27, 27, 0.63);
    }
    .coeur-plein {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        background: -webkit-linear-gradient($color-primary, $color-secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: opacity 500ms;
        transform-origin: bottom;
        transform: scale(0);
        transition: transform 500ms cubic-bezier(0.32, 0, 0.07, 1);
    }
}