/*resto*/
.lien-resto {
    @include flex(column);
    @include dim(350px);
    display: block;
    margin: 20px 0px;
    border-radius: 30px;
    @include desktop-pad{
        margin-bottom: 30px;
        width: 48%;
    }
    &__card-ima {
        display: block;
        overflow: hidden;
        border-radius: 20px 20px 0 0;
        @include dim(250px);
        .wi_he_co {
            @include dim(100%);
            object-fit: cover;
        }
    }
    &__card {
        @include flex(row);
        @include dim(100px);
        @include flex-layout(center, start);
        box-shadow: 0 3px 3px 3px #f2f2f2;
        border-radius: 0 0 20px 20px;
        padding: 0 0 0 15px;
        background-color: white;
        .bloc-info {
            @include flex(column);
            @include dim(100%);
            @include flex-layout(center, start);
            &__titre {
                font-weight: bold;
                padding-bottom: 5px;
            }
            &__sous-titre {
                padding-top: 5px;
            }
        }
    }
    .btn-coeur {
        position: relative;
        top: 35px;
        right: 67px;
        .fas, .far {
            font-size: 30px;
        }
    }
}