@import'../utils/mixins';
@import'../utils/variables';

/*resto*/
.resto-proj{
    @include flex(column); 
    @include dim(350px);
    margin: 10px 0px;
    border-radius: 30px;
    &__card-ima{
        overflow: hidden;
        border-radius: 30px 30px 0 0;
        @include dim(250px);
        .wi_he_co{
            @include dim(100%);
            object-fit: cover;
        }    
    }
    &__card-info{
        @include flex(column);
        @include dim(100px); 
        box-shadow: 0 3px 3px 3px #f2f2f2;
        border-radius: 0 0 30px 30px;  
        justify-content: space-around;
        padding: 0 0 0 20px;   
        background-color: white;
    }     
}