/*localiser*/
.conten_local{
    @include flex;
    @include flex-layout;
    @include dim(50px);
    background: darken($color-back,10%);
    box-shadow: 0px -6px 9px -2px darken($color-back,20%);
    .bar-loc{
        padding-left: 44px;
        white-space: nowrap;
        overflow: hidden;
        &__map{
            padding-left: 20px;
            font-size: 18px;
            @include pad-only {
                font-size: 19px;
            }
            @include desktop-only {
                font-size: 20px;
            }
        }
        &__input{
            border: unset;
            background: darken($color-back,10%);
            padding-left: 20px;
            font-size: 18px;
            @include pad-only {
                font-size: 19px;
            }
            @include desktop-only {
                font-size: 20px;
            }
        }
    }
}
/*-Trouvez un restaurant-*/
.section_trouv{
    @include flex(column);
    @include flex-layout(space-between);
    align-self: center;
    padding: 40px 0px 60px 0;
    background: $color-back;
    .trouv_titre{
        @include dim(auto, 320px);
        font-size: 30px;
        text-align: center;
        margin-bottom: 25px;
        @include desktop-pad{
            width: 100%;
        }
    }
    .trouv_text{
        @include dim(auto, 320px);
        color: darken($color-back, 60%);
        text-align: center;
        margin-bottom: 25px;
        @include desktop-pad{
            width: 100%;
        }        
    }
    /*components/bouton-degrade*/
}
/*-section fonctionnement-*/ 
.section_fonc{
    @include flex(column);
    margin: 20px 0;
    .marg_l_20{
        margin-left: 20px;
        @include mobile-pad{
            margin-bottom: 20px;
        }
    }
    .bloc_btn{
        @include flex-layout (space-around, unset);
        @include flex(column);
        padding: 0px 20px 0px 30px;
        @include desktop-only{
            @include flex;
        }
        /*components/bouton-fonction*/
    }
}
/*-section resto-*/ 
.section-resto{
    @include flex(column);
    padding: 20px 0 60px 0;
    background-color: $color-back;
    .marg_l_20{
        margin-left: 20px;
        @include mobile-pad{
            margin-bottom: 10px;
        }
    }
    .bloc-resto{
        @include flex(column);
        @include flex-layout(space-around);
        @include dim(100%);
        padding: 0px 20px;
        @include desktop-pad{
            @include flex;
            @include flex-layout(space-between);
            flex-wrap: wrap;
        }
        /*components/resto*/
    }
}