/*localiser*/
.conten_local{
    @include flex;
    @include flex-layout;
    @include dim(50px);
    background: darken($color-back,10%);
    box-shadow: 0px -6px 9px -2px darken($color-back,20%);
    .bar-loc{
        &__map{
            margin-left: 20px;
        }
        &__input{
            border: unset;
            background: darken($color-back,10%);
            margin-left: 20px;
        }
    }
}
/*-Trouvez un restaurant-*/
.section_trouv{
    @include dim(300px);
    @include flex(column);
    @include flex-layout(space-around);
    align-self: center;
    padding: 30px 0px;
    background: $color-back;
    .trouv_titre{
        @include dim(70px, 320px);
        font-size: 30px;
        text-align: center;
    }
    .trouv_text{
        @include dim(50px, 320px);
        color: lighten($color-back, 20%);
        text-align: center;          
    }
    /*components/bouton-degrade*/
}
/*-section fonctionnement-*/ 
.section_fonc{
    @include flex(column);
    @include dim(400px);
    margin: 20px 0;
    .marg_l_20{
        margin-left: 20px;
    }
    .bloc_btn{
        @include flex-layout (space-around, unset);
        @include flex(column);
        @include dim(368px); 
        padding: 0px 20px 0px 30px;
        /*components/bouton-fonction*/
    }
}
/*-section resto-*/ 
.section_resto{
    @include flex(column);
    @include dim(1650px);
    padding: 20px 0;
    background-color: $color-back;
    .marg_l_20{
        margin-left: 20px;
    }
    .bloc_resto{
        @include flex(column);
        @include flex-layout(space-around);
        @include dim(100%);
        padding: 0px 20px; 
        /*components/resto*/
          /*components/new*/
          .resto-proj__coeur{ 
            position: relative;
            bottom: 75px;
            @include dim(40px);
            text-align: center;
            background: none;
            border: none;
            padding: unset;
            /*components/coeur*/
          }
    }
}