/*-photo resto-*/
.wrapper{
    height: 1979px;
}
.photo_resto{
    overflow: hidden;
    @include dim(300px);
    .wi_he_co{
        @include dim(100%);
        object-fit: cover;
    }    
}
.menu_position{
    position: relative;
    bottom: 72px;
    .section_menu{
        @include dim(1430px);
        background: $color-back;
        border-radius: 60px 60px 0px 0px;
        padding: 0px 15px;
        &_header{
            @include dim(100px);
            @include flex;
            @include flex-layout(space-between);
            padding: 5px 10px;
            &_titre{
                font-family: "Shrikhand";
            }
        }
        .bloc_arti{
            @include dim(1150px);
            @include flex(column);
            @include flex-layout(space-between);
            .arti_menu{
                @include dim(360px);
                @include flex(column);
                @include flex-layout(space-between,start);
                .plat_titre{
                    @include dim(28px);
                    @include flex;
                    @include flex-layout(start,center);
                    font-size: 18px;
                }
                .bordure_titre{
                    display: block;
                    border-top: 3px solid $color-tertiary;
                    width: 45px;  
                }
                .bloc_menu{
                    @include dim(320px);
                    @include flex(column);
                    @include flex-layout(space-around);
                    /*component/btn-plat*/
                }
            }
        }
        .bloc_bouton_menu{
            @include flex;
            @include flex-layout;
            @include dim(130px);
            /*components/bouton-degrade*/
        }
    }
}