@import "../utils/variables";
@import "../utils/fonctions";

@mixin flex($direction: row) {
    display: flex;
    flex-direction: $direction;
}

@mixin flex-layout($justify: center, $aligne: center) {
    justify-content: $justify;
    align-items: $aligne;
}

@mixin dim($height, $width: 100%) {
    height: $height;
    width: $width;
}

@mixin nuance-color-10($color: lightness-shift($color-back)) {
    color: $color;
}

@mixin mobile-only {
    @media (max-width: map-get($breakpoints, mobile)) {
        @content;
    }
}

@mixin pad-only {
    @media all and (min-width: calc(map-get($breakpoints, mobile) + 1px)) and (max-width: map-get($breakpoints, pad)) {
        @content;
    }
}

@mixin desktop-only {
    @media all and (min-width: calc(map-get($breakpoints, pad) + 1px)) {
        @content;
    }
}

@mixin desktop-pad {
    @media all and (min-width: calc(map-get($breakpoints, mobile) + 1px)) {
        @content;
    }
}

@mixin mobile-pad {
    @media all and (max-width: map-get($breakpoints, pad)) {
        @content;
    }
}