$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-button-mix: linear-gradient($color-secondary, $color-primary);
$color-back: #f2f2f2;
$color-contrast: white;

$anim-dur: 2000ms;
$num-bars: 10;
$anim-delay: $anim-dur / 10;

// MAP
$breakpoints: (
    mobile: 650px,
    pad: 992px,
    desktop: 1420px,
);